body {
  text-align: center;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  padding: 0;

}
.App{
  width: 100vw;
  height: 100vh;
}
#map_body{
  display: flex;
  background-color: #E2E4F0;
}

 #modals{
  /* width: 100vw;
  height: 100vh; */
  position: fixed;
  z-index: 999;
  top: 0rem;
  left: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(127, 255, 212, 0.796); */
} 

